@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
}
nav{
    width: 100%;
    position: absolute;
    transition: 0.6s;
    backdrop-filter: blur(10px);
    z-index: 999;
}
label.logo{
    color: #fff;
    font-size: 2em;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    transition: 0.6s;
}
label.logo span span{
    color: firebrick;
    font-size: 38px;
}
label.logo:hover{
    color: #720e9e;
    cursor: pointer;
}
nav ul{
    float: right;
    margin-right: 20px;
    transition: 0.6s;
}
nav ul li{
    display: inline;
    line-height: 80px;
    margin: 0 5px;
    
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 7px 13px;
    transition: 0.6s ease;
}
nav ul li a:hover{
    color: #720e9e;
    border-bottom: 3px solid #720e9e;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .text-hero h1{
        font-size: 2.5rem;
    }
}
@media (max-width: 854px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #191b19d7;
        backdrop-filter: blur(10px) !important;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav ul li a:hover, nav ul li  a.active{
        background: none;
        color: #720e9e;
        cursor: pointer;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media  (max-width: 768px) {
    .heading{
        padding: 0px 20px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .content-about{
        padding: 0px !important;
        text-align: center;
    }
    .container-about{
        padding: 0px !important;
    }
    .about-1{
        padding: 20px 20px;
        flex-direction: column;

    }
    .img-container img{
        display: none !important; 
    }
    .about-content p{
        font-size: 12px;
        text-align: left;
    }
    .about-content{
        font-size: 16px;
    }
}
.home{
    height: 100vh;
    background: url('pawel-czerwinski-FAlYVtV1kRg-unsplash.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home div{
    padding: 20px;
}
.home h1{
    color: #d7d7d7;
    font-size: clamp(2.5rem, 10vw, 10rem);
    margin-bottom: clamp(25px, 30px, 46px);
    background: rgb(71,24,255);
    background: linear-gradient(90deg, rgba(71,24,255,1) 0%, rgba(201,152,250,1) 51%, rgba(150,17,150,1) 100%);
    background-clip: text;
    color: transparent;
    text-shadow: -1px 1px 8px rgba(170,51,106,0.73);
}

.home p{
    color: #b7b7bc;
    font-size: clamp(18px, 2vw, 2rem);
}
.home .btn-holder{
    margin-top: 20px;
}
.btn-grad {background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%)}
.btn-grad {
   /* margin: 10px; */
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
}
.btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
}
.explore{
    min-height: 50vh;
    background-color: #171717;
    background-image: radial-gradient(#b7b7bc 1.1px, #171717 1.1px);
    background-size: 22px 22px;
    padding: 20px;
    
}
.explore h1{
    text-align: center;
    letter-spacing: 5px;
    color: #fff;
    font-family: "Cabin", sans-serif;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 350px;
    background-color: #f0f0f0;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    transition: 0.6s;
}
.card:hover{
    -webkit-box-shadow: 0px 10px 66px 1px rgba(225,225,225,0.5);
    -moz-box-shadow: 0px 10px 66px 1px rgba(225,225,225,0.5);
    box-shadow: 0px 10px 66px 1px rgba(225,225,225,0.5);
}
.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 1rem;
    
}
.card-content h2,.card-content p,.card-content a{
    font-family: "Cabin", sans-serif;
}
.card-content h2{
    font-size: 30px;
    margin-bottom: 8px;
}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
    transition: 0.6s;
}
.card-content .btn:hover{
    box-shadow: 0px 2px 4px rgba(0,0,0,0.6);
}
.about{
    min-height: 100vh;
    /* display: table; */
    width: 100%;
    height: 100%;
    background: rgb(128,0,128);
    background: linear-gradient(135deg, rgba(128,0,128,1) 0%, rgba(29,17,96,1) 0%, rgba(114,14,158,1) 65%);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    color: #b7b7b7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-about{
    padding: 2rem;
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: clamp(36px, 50px, 50px);
    color: #f0f0f0;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #61045F;
}
.heading p{
    font-size: 18px;
    color: #b7b7bc;
    margin-bottom: 35px;
}
.content-about{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.img-container{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.img-container img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: .5s;
    border-radius: 10px;
}   
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #f0f0f0;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #f0f0f0;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
}